@import './config';
@import './header';
@import './about';
@import './review';
@import './contact';
@import './footer';
@import './info';

html {
    scroll-behavior: smooth;
}

body {
    font-family: $montserrat;
    background-color: $white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.blue {
    color: $blue;
}

.soft_blue {
    color: $soft_blue;
}

.orange {
    color: $orange;
}

.black {
    color: $black;
}

.white {
    color: $white;
}

.bold {
    font-weight: bold;
}

.h1 {
    font-size: 3.5rem;
}

.title {
    margin-bottom: 2rem;
}

.text {
    line-height: 1.5;
}

.big_text {
    font-size: 1.5rem;
    line-height: 1.5;
}

.text-center {
    text-align: center;
}

.container {
    padding: 3rem 5rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.reverse-flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.contact-btn {
    padding: 1rem 2rem;
    background-color: $orange;
    color: $white;
    border-radius: 0.75rem;
    border: none;
    font-family: $montserrat;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2.5rem;

    &:hover {
        background-color: rgba($orange, 0.8);
    }
}

.more {
    margin-top: 2rem;
    text-decoration: underline;
    color: $orange;
    font-weight: bold;
    cursor: pointer;
}

.input {
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    border: 1px solid $gray;
    font-size: 1rem;
    font-family: $montserrat;
}